<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<script src="http://jp.rmenez.es/static/jquery.min.js"></script>
	<script src="http://jp.rmenez.es/static/sha256.js"></script>
	<script src="http://jp.rmenez.es/rainbow.js"></script>
</head>

<body>
	<h1>SHA-256 Rainbow Table Generator</h1>
	<p>You're running it right now! Want to contribute? Simply add &lt;script src="http://jp.rmenez.es/rainbow.js"&gt;&lt;/script&gt; to your site.</p>
	<p>Check out your javascript console for progress.</p>
	<br/>
</body>
</html>
